[submodule "containerd"]
	path = containerd
	url = https://github.com/greenhandzdl/DigitalHuman-containerd.git
[submodule "service"]
	path = service
	url = https://github.com/J1s2-ovo/Backend_KangYang.git
[submodule "ue"]
	path = ue
	url = https://github.com/starwishXxX/FrontendKangYang
[submodule "fay"]
	path = fay
	url = https://github.com/chuan918/Fay.git
[submodule "frontend"]
	path = frontend
	url = https://gitee.com/xie-zha-zha/carecho_final
